{{ define "footer" }}
        <div class="mt-5"></div>
        <footer class="footer" style="text-align: center">
            <p>© 2017 The Dumbwall dictator</p>
        </footer>
    </div>
</body>
</html>
{{ end }}
