{{ define "list" }}
	{{ template "header" }}

        <div class="row">
            <div class="col-md-9">
                {{ range $key, $value := .Posts }}
                    <div id={{.ID}} class="card">
                        <div class="card-body">
                            <h3><a href="/posts/{{.ID}}">{{.Title}}</a></h3>

                            <p>{{ .Body }}</p>
                            {{ if eq .Meta.Action 1 }}
                                <button onclick="upVote({{.ID}})" type="submit" class="btn btn-secondary btn-sm">up voted</button>
                            {{ else }}
                                <button onclick="upVote({{.ID}})" type="submit" class="btn btn-secondary btn-sm">up</button>
                            {{ end }}
                            <span>{{ .Ups }}</span>
                            {{ if eq .Meta.Action 2 }}
                                <button onclick="downVote({{.ID}})" type="submit" class="btn btn-secondary btn-sm">down voted</button>
                            {{ else }}
                                <button onclick="downVote({{.ID}})" type="submit" class="btn btn-secondary btn-sm">down</button>
                            {{ end }}

                            <span class="mx-1"></span>
                            <button type="submit" class="btn btn-secondary btn-sm">save</button>

                            <a class="float-md-right" href="/users/{{.UserID}}">{{ .Meta.OwnerLogin }}</a></h2> 
                            <p class="float-md-right">{{ .FormattedCreatedAt }} by&nbsp; </p>
                        </div>
                    </div>
                    <div class="mt-3"></div>
                {{ end }}
            </div>
        </div>

        <script>
            function upVote(postID) {
                var xhr = new XMLHttpRequest();
                xhr.open('POST', '/posts/' + postID + '/up', true);
                xhr.send(null);
            }

            function downVote(postID) {
                var xhr = new XMLHttpRequest();
                xhr.open('POST', '/posts/' + postID + '/down', true);
                xhr.send(null);
            }
        </script>

	{{ template "footer" }}
{{ end }}
