{{ define "view_post" }}
	{{ template "header" }}

    <div class="row">
        <div class="col-md-9">
            <div id={{.ID}} class="card">
                <div class="card-body">
                    <h3>{{.Title}}</h3>

                    <p>{{ .Body }}</p>
                    {{ if eq .Meta.Action 1 }}
                        <button onclick="upVote({{.ID}})" type="submit" class="btn btn-secondary btn-sm">up voted</button>
                    {{ else }}
                        <button onclick="upVote({{.ID}})" type="submit" class="btn btn-secondary btn-sm">up</button>
                    {{ end }}
                    <span>{{ .Ups }}</span>
                    {{ if eq .Meta.Action 2 }}
                        <button onclick="downVote({{.ID}})" type="submit" class="btn btn-secondary btn-sm">down voted</button>
                    {{ else }}
                        <button onclick="downVote({{.ID}})" type="submit" class="btn btn-secondary btn-sm">down</button>
                    {{ end }}

                    <span class="mx-1"></span>
                    <button type="submit" class="btn btn-secondary btn-sm">save</button>

                    <a class="float-md-right" href="/users/{{.UserID}}">{{ .Meta.OwnerLogin }}</a></h2> 
                    <p class="float-md-right">{{ .FormattedCreatedAt }} by&nbsp; </p>
                </div>
            </div>
        </div>
    </div>

	{{ template "footer" }}
{{ end }}
