{{ define "list" }}
	{{ template "header" }}

        {{ range $key, $value := .Posts }}
            <div id={{.ID}}>
                <a href="/posts/{{.ID}}">{{.Title}}</a>
                <p>{{ .Body }}</p>
                <p>rating: {{ .Ups }}</p>
                <p>{{ .CreatedAt }}</p>
                <p>Created By: <a href="/users/{{.UserID}}">{{ .Meta.OwnerLogin }}</a></p>

                <div class="row">
                    <div class="col-md-auto">
                        <form method=post action="/posts/{{.ID}}/up">
                            <button type="submit" class="btn btn-primary btn-sm">up</button>
                        </form>
                    </div>

                    <div class="col-sm-1">
                        <form method=post action="/posts/{{.ID}}/down">
                            <button type="submit" class="btn btn-secondary btn-sm">down</button>
                        </form>
                    </div>
                </div>
                <hr>
            </div>
        {{ end }}

	{{ template "footer" }}
{{ end }}
